.technoTitle {
  position: relative;
  margin-bottom: 72px;
}
.technoList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.technoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 5px;
  width: 68px;
  height: 68px;
  box-shadow: 0 5px 16px 0 rgba(239, 239, 239, 0.1);
  background-color: #fff;
  position: relative;
  transition: box-shadow 0.3s ease;
}
.technoItem:hover {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2); /* Підсвічування при ховері */
  height: 100%;
}
.technoText {
  color: #1c1c1b;
}
.technoNav {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 30px;
}
.technoBtn {
  border: none;

  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.active {
  opacity: 1;
  filter: none;
}

.inactive {
  opacity: 0.3; /* Зменшує прозорість неактивних іконок */
  filter: grayscale(100%); /* Робить неактивні іконки чорно-білими */
  pointer-events: none; /* Вимикає інтерактивність для неактивних іконок */
  background-color: transparent;
  box-shadow: none;
}
