.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  resize: vertical;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #f3e200;
  color: #000;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
