html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;

  color: #fff;
  background-color: #1c1c1b;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(20px, calc(10px + 5vw), 165px);
  padding-right: clamp(20px, calc(10px + 5vw), 165px);
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
.section {
  padding-top: clamp(40px, calc(10px + 5vw), 100px);
  padding-bottom: clamp(40px, calc(10px + 5vw), 100px);
}
