.contactsTitle {
  position: relative;
  margin-bottom: 60px;

  &::before {
    position: absolute;
    content: '';
    background-image: url(../../img/before_title_yelow.svg);
    top: -40px;
    left: -64px;
    width: 95px;
    height: 95px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 60px;
}

.contactsInfo {
  font-style: normal;
}

.contactPlace {
  font-size: 16px;
  margin-bottom: 12px;
  color: #f3e200;
}

.contactEmail {
  position: relative;

  font-size: 14px;
  color: #ffffff;
  transition: color 300ms linear;
}

.contactEmail::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f3e200;
  transition: width 300ms linear;
}

.contactEmail:hover::after,
.contactEmail:focus:after {
  width: 90%;
}

.question {
  font-size: 18px;
}

.questionText {
  margin-bottom: 16px;
}

.questionBtn {
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: #f3e200;
  line-height: 1.21;
  box-shadow: 0;
  transition: box-shadow 300ms linear;
  font-size: 14px;
  font-weight: 700;
}

.questionBtn:hover,
.questionBtn:focus {
  box-shadow: 0px 0px 16px 0px rgba(243, 226, 0, 0.3);
}

.copy {
  font-size: 12px;
}
