.footer {
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}

.contactsTitle {
  position: relative;
  margin-bottom: 60px;
  line-height: clamp(3.5rem, 2.292vw + 2.937rem, 5rem);
  &::before {
    position: absolute;
    content: '';
    background-image: url(../../img/before_title_yelow.svg);
    top: -40px;
    left: -64px;
    width: 95px;
    height: 95px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 120px;
}

.contactsInfo {
  font-style: normal;
}

.contactPlace {
  margin-bottom: 12px;
  color: #f3e200;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.contactEmail {
  position: relative;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 300ms linear;
  font-weight: 600;
}

.contactEmail::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: #f3e200;
  transition: width 300ms linear;
}

.contactEmail:hover::after,
.contactEmail:focus:after {
  width: 100%;
}

.question {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  font-size: 18px;
}

.questionText {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.questionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 194px;
  height: 55px; */
  padding: 13px 20px;

  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: #f3e200;
  line-height: 1.21;
  box-shadow: 0;
  transition: box-shadow 300ms linear;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.questionBtn:hover,
.questionBtn:focus {
  box-shadow: 0px 0px 16px 0px rgba(243, 226, 0, 0.3);
}

.copy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.21;
}

.bgCircle {
  position: absolute;
  top: 80px;
  right: -420px;
  width: 650px;
  height: 650px;
  border-radius: 100%;
  background: #272726;
  z-index: -2;
}
